h1 {
  font-size: 96px;
  font-family: "Times New Roman", Times, sans-serif;
  color: #001f3f;
  font-style:normal;
  font-variant: normal;
  text-align: center;
  display: block;
  background-color: Grey
}

/* About Us */

h2 {
  font-size: 60px;
  font-family: "Times New Roman", Times, sans-serif;
  color: #0074D9;
  font-style:normal;
  font-variant: normal;
  text-align: center;
  display: block;
  background-color: Grey
}

/* Meet the Team */

h3 {
  font-size: 36px;
  font-family: "Times New Roman", Times, sans-serif;
  color: #7FDBFF;
  font-style:normal;
  font-variant: normal;
}

/* The Name */

p{
  font-size: 16px;
  font-family: "Times New Roman", Times, sans-serif;
  color: #39CCCC;
  font-style:normal;
  font-variant: normal;
}

/* About that Person */

header {
  display: block;
  color: #105916;
  margin: auto;
}

footer {
  display:block;
  color: #105916;
  margin: auto;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;

}

.right-text {
  text-align: right;

}

.nav-bar {
  margin: 2px;
  padding: 2px;
  height: auto;
  list-style-type: none;
  overflow: hidden;
  background-color: grey
}

.nav-item {
  background-color: #3D9970;
  margin: 2px;
  padding: 14px 14px;
  float: left;
}

.about-people {
  background-color: Yellow;

}
