html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html {
  text-align: center;
  overflow-x: hidden;
  font-family: 'Oxygen', sans-serif;}

  select {
    background: #fff7c0;
    border-radius: 4px;
    height: 30px;
    width: 100px;
    border-color: white;
    font-family: 'Oxygen', sans-serif;
  }

  button {
		border-style: none;
		border-radius: 50px;
		font-size: 20px;
		padding: 10px 40px;
		color: white;
		animation-name: button;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		margin-top: 30px;
		cursor: pointer;
		outline: none;
		font-family: 'Oxygen', sans-serif;
	}
  @keyframes button {
    0% {background: #2D00FF;}
    50% {background: #6F0CE8;}
    100% {background: #2D00FF;}
  }

  .title {
		font-size: 4em;
		margin-top: 100px;
		/*font-weight: bold;
		font-style: italic; */
		animation-name: title;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		font-family: 'Oxygen', sans-serif;
		background: white;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	@keyframes title {
		0% {color: #6F0CE8;}
		50% {color: #2D00FF;}
		100% {color: #6F0CE8;}
	}

h1 {
  font-size: 128px;
  font-family: 'Baloo Chettan', cursive;
  color: #696969;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  display: block;
  background-color: #ffffff;
  padding-bottom: 15px;


}

/* About Us */

h2 {
  font-size: 30px;
  font-family: 'Oxygen', sans-serif;
  color: #696969;
  font-style:normal;
  font-variant: normal;
  text-align: center;
  display: block;
  background-color: #ffffff;
  padding-bottom: 20px;
}

h5 {
  font-size: 60px;
  font-family: 'Oxygen', sans-serif;
  color: #3D9990;
  font-style:normal;
  font-variant: normal;
  text-align: center;
  display: block;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
}


/* Meet the Team */

h3 {
  font-size: 30px;
  font-family: 'Oxygen', sans-serif;
  color: #000000;
  font-style:normal;
  font-variant: normal;
  spacing: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h4 {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: #afafaf;
  font-style:normal;
  font-variant: normal;
}

/* The Name */

p{
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: #3D9970;
  font-style:normal;
  font-variant: normal;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* About that Person */

header {
  display: block;
  color: #105916;
  margin: auto;
}

footer {
  display:block;
  color: #105916;
  margin: auto;
}

.footer{
  background-color: #3e3c36;
  display: block;
  height: 200px;
  list-style-type: none;
  overflow: hidden;
  clear: both;
}

.bottom-section-1 {
  display: inline-block;
  float: left;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 200px
}


.bottom-section-2 {
  display: inline-block;
  float: none;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 40px;

}
.bottom-section-3 {
  display: inline-block;
  float: right;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 200px;

}



.left-text {
  text-align: left;
}

.center-text {
  text-align: center;

}

.right-text {
  text-align: right;

}

.nav-bar {
  height: auto;
  list-style-type: none;
  overflow: hidden;
  background-color: #3D9990;
  display: block;
}

.nav-item {
  background-color: #3D9990;
  margin: 0px;
  padding: 14px 14px;
  float: right;
  font-size: 24px;
}

.nav-item:hover {
  background-color: #5D9990;
  margin: 0px;
  padding: 14px 14px;
  float: right;
  font-size: 24px;
}

.nav-item-2 {
  background-color: #3D9990;
  margin: 0px;
  padding: 14px 14px;
  float: left;
  color: white;
  font-family: 'Oxygen', sans-serif;
  margin-right: 0px;
  font-size: 24px;
}

.about-people {
  background-color: Yellow;

}

a {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

.body {
  background-color: #dddddd;
  height: 2000px;
  padding: 40px;

}
.more {
  width: 480px;
  height: 400px;
  float: left;
}
.wrap {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.left {
  float: left;
}
.address {
  outline: none;
  border-color: #cfcfcf;
  background: #ffffff;
  color: black;
  width: 520px;
  height: 44px;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family:'Oxygen', sans-serif;
}
.form {
  text-align: center;
  padding: 10px;
}
.submit {
  margin-top: 20px;
  margin-bottom: 40px;
  background: #2D00FF;
  color: white;
  border-style: none;
  border-radius: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  font-family:'Oxygen', sans-serif;
}

.Newsletters {
background-color: grey;
max-height: 4000px;
}

.announcement {
  background: white;
}

.move {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	animation-name: marquee;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	font-style: italic;
}

#top1 {
	visibility: hidden;
}
#top2 {
	visibility: hidden;
}
#top3 {
	visibility: hidden;
}
#bottom1 {
	visibility: hidden;
}
#bottom2 {
	visibility: hidden;
}
#bottom3 {
	visibility: hidden;
}
.merge {
	width: 285px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.words {
  font-size: 24px;
  width: 480px;
  color: black;
  font-family:'Oxygen', sans-serif;
}

@keyframes marquee {
	0% {left: 100%;}
	100% {left: -100%;}


.body-3{
  background-color: #dddddd;
  height: 2000px;
  padding: 40px;
  background-image: url(file:///C:/Users/jack1/Desktop/Project%20Folder/About%20Us%20Pictures/8.jpg);
}

.b31{

}

.b3l{

}

.b3r{

}
