html {
	background: linear-gradient(#00aaff, #00ffaa);
	background-attachment: fixed;
  text-align: center;
}
select {
	background: #fff7c0;
	border-radius: 4px;
	border-color: white;
}
button {
	border-style: none;
	border-radius: 50px;
	font-size: 20px;
	padding: 10px 40px;
	color: white;
	animation-name: button;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	margin-top: 30px;
	cursor: pointer;
	outline: none;
}
@keyframes button {
	0% {background: #2D00FF;}
	50% {background: #6F0CE8;}
	100% {background: #2D00FF;}
}
.title {
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
}
.nav-button {
	color: #FF0000
	font-size: 20px
	font-weight: bold;
}

.nav-button:hover {
	color: #FFFF00
	font-size: 20px
	font-weight: bold;

}
