html {
	background: url("https://i.imgur.com/52D2Mv8.png");
	background-attachment: fixed;
  text-align: center;
	overflow-x: hidden;
	font-family: 'Pacifico', cursive;

}
select {
	background: #fff7c0;
	border-radius: 4px;
	border-color: white;
}
button {
	border-style: none;
	border-radius: 50px;
	font-size: 20px;
	padding: 10px 40px;
	color: white;
	animation-name: button;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	margin-top: 30px;
	cursor: pointer;
	outline: none;
}
a {
	text-decoration: none;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}
@keyframes button {
	0% {background: #2D00FF;}
	50% {background: #6F0CE8;}
	100% {background: #2D00FF;}
}
.title {
	font-size: 4em;
	margin-top: 100px;
	/*font-weight: bold;
	font-style: italic; */
	animation-name: title;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	font-family: 'Pacifico', cursive;
	background: white;
	padding-top: 10px;
	padding-bottom: 30px;
}
@keyframes title {
	0% {color: #6F0CE8;}
	50% {color: #2D00FF;}
	100% {color: #6F0CE8;}
}
.announcement {
	background: white;
}
.words {
	font-size: 20px;
	width: 450px;
	color: red;
}
.move {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	animation-name: marquee;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	font-style: italic;
}
@keyframes marquee {
	0% {left: 100%;}
	100% {left: -100%;}
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


h1 {
	font-size: 60px;
	font-style: normal;
	font-weight: lighter;
	font-family: "Comic Sans MS", cursive, sans-serif
	font-variant: normal;
	color: #FFFF00;
}

h2 {
	font-size: 48px;
	font-style: normal;
	font-weight: lighter;
	font-family: "Comic Sans MS", cursive, sans-serif
	font-variant: normal;
	color: #FFFF00;
}

p {
	font-size: 24px;
	font-style: normal;
	font-weight: lighter;
	font-family: "Comic Sans MS", cursive, sans-serif
	font-variant: normal;
	color: orange;

}

.nav-bar {
    margin: 0;
    padding: 0;
    height: auto;
    list-style-type: none;
    background-color: #102f60;
    overflow: hidden;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

.nav-item {
  margin: 0px;
  display: block;
  padding: 14px 16px;
  float: left;

}

.nav-item:hover {
  background-color: #051630;
}

.nav-item a {
  float: right;
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 36px;
  text-align: center;
}

#testrun {
	z-index: 100;
}
