html {
	background: url("https://i.imgur.com/52D2Mv8.png");
	background-attachment: fixed;
  text-align: center;
	overflow-x: hidden;
	font-family: 'Pacifico', cursive;

}
select {
	background: #fff7c0;
	border-radius: 4px;
	border-color: white;
}
button {
	border-style: none;
	border-radius: 50px;
	font-size: 20px;
	padding: 10px 40px;
	color: white;
	animation-name: button;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	margin-top: 30px;
	cursor: pointer;
	outline: none;
}
a {
	text-decoration: none;
	color: white;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}
@keyframes button {
	0% {background: #2D00FF;}
	50% {background: #6F0CE8;}
	100% {background: #2D00FF;}
}
.title {
	font-size: 4em;
	margin-top: 100px;
	/*font-weight: bold;
	font-style: italic; */
	animation-name: title;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	font-family: 'Pacifico', cursive;
}
@keyframes title {
	0% {color: #6F0CE8;}
	50% {color: #2D00FF;}
	100% {color: #6F0CE8;}
}
.announcement {
	background: white;
}
.words {
	font-size: 20px;
	width: 450px;
	color: red;
}
.move {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	animation-name: marquee;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	font-style: italic;
}
@keyframes marquee {
	0% {left: 100%;}
	100% {left: -40%;}
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


h1 {
	font-size: 60px;
	font-style: normal;
	font-weight: lighter;
	font-family: "Comic Sans MS", cursive, sans-serif
	font-variant: normal;
	color: #FFFF00;
}

h2 {
	font-size: 48px;
	font-style: normal;
	font-weight: lighter;
	font-family: "Comic Sans MS", cursive, sans-serif
	font-variant: normal;
	color: #FFFF00;
}

p {
	font-size: 24px;
	font-style: normal;
	font-weight: lighter;
	font-family: "Comic Sans MS", cursive, sans-serif
	font-variant: normal;
	color: #FFFF00;

}

.nav-bar {
    margin: 0;
    padding: 0;
    height: auto;
    list-style-type: none;
    background-color: #102f60;
    overflow: hidden;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-item {
  margin: 0px;
  display: block;
  padding: 14px 16px;
  float: left;

}

.nav-item:hover {
  background-color: #051630;
}

.nav-item a {
  float: right;
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
}






* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
